{% extends "layout.html" %}
{% block content %}
Welcome to the page where you can create your own genealogical tree by adding people 
(the elder in first order), display graph of that tree and find connections between 
different members!
<br><br>
Here you can clean database:
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ form.clean_type.label }}</legend>
            Choose cleaning type:<br>
            {% for choice in form.clean_type.choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="clean_type" id="{{ choice[0] }}" value="{{ choice[0] }}">
                    <label class="form-check-label" for="{{ choice[0] }}">
                    {{ choice[1] }}
                    </label>
                </div>
            {% endfor %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>
<div class="text-center p-3 fixed-bottom" style="background-color: rgba(0, 0, 0, 0.3);">
    Bartosz Rogowski<br>
    Przetwarzanie danych w chmurach obliczeniowych 2021<br><br>
    <small class="text-muted">
        Do note that this is proof of concept type of project.
    </small>
</div>
{% endblock content %}