{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add person</legend>
            <div class="form-group">
                {{ form.first_name.label(class="form-control-label") }}

                {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.first_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.last_name.label(class="form-control-label") }}
                {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.last_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.year_of_birth.label(class="form-control-label") }}
                {% if form.year_of_birth.errors %}
                    {{ form.year_of_birth(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.year_of_birth.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.year_of_birth(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.year_of_death.label(class="form-control-label") }}
                {% if form.year_of_death.errors %}
                    {{ form.year_of_death(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.year_of_death.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.year_of_death(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="parent1">Choose first parent:</label><br>
                <select name="parent1" id="parent1" class="form-select">
                    <option value="">choose parent</option>
                    {% for option in options %}
                        <option value="{{option[0]}}">{{option[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="parent2">Choose second parent:</label><br>
                <select name="parent2" id="parent2" class="form-select">
                    <option value="">choose parent</option>
                    {% for option in options %}
                        <option value="{{option[0]}}">{{option[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="spouse">Choose spouse:</label><br>
                <select name="spouse" id="spouse" class="form-select">
                    <option value="">choose spouse</option>
                    {% for option in options %}
                        <option value="{{option[0]}}">{{option[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                {{ form.year_of_marriage.label(class="form-control-label") }}
                {% if form.year_of_marriage.errors %}
                    {{ form.year_of_marriage(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.year_of_marriage.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.year_of_marriage(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <small class="text-muted">Fields marked with asterisk (*) are necessary.</small>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn") }}
        </div>
    </form>
</div>
{% endblock content %}