{% extends "layout.html" %}
{% block content %}
{% if not mytable.empty %}
	<table class="table table-striped">
		<thead>
		<tr>
			<th scope="col">First name</th>
			<th scope="col">Last name</th>
			<th scope="col">Year of birth</th>
			<th scope="col">Year of death</th>
		</tr>
		</thead>
		<tbody>
			{% for i in range(mytable|length) %}
				<tr>
					<td>{{ mytable.loc[i].fname }}</td>
					<td>{{ mytable.loc[i].lname }}</td>
					<td>{{ mytable.loc[i].born }}</td>
					<td>{{ mytable.loc[i].died if mytable.loc[i].died > -1 else "-" }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		Database is empty.
	{% endif %}
{% endblock content %}